@font-face {
  font-family: 'GT-Haptik';
  src: url(../../fonts/GT-Haptik-Medium-2.woff2);
}

html,
body {
  color: #1b1425;
  font-size: 18px;
  line-height: 1.45;
  font-family: 'GT-Haptik', serif;
}

.root {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  min-height: 100vh;
}

.header {
  /*
  display:flex;
  flex: 1 100%;
  */
}

.footer {
  display:flex;
  flex-shrink: 1;
  position: sticky;
  bottom: 0;
  width: 100%;
  /*
  min-height: 80px;
  */
  background-color: #f4effc !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

/*
* + * {
  margin-top: 1rem;
}
*/

li {
  margin-top: 0.25rem;
}

code {
  background: #f4effc;
  border-radius: 0.125rem;
  font-weight: bold;
  padding: 0.125rem 0.25rem;
}