.bottom__nav {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f4effc !important;
}

.footer__nav {
    display: inherit;
    position: relative;
    width: 100%;
}

.footer__copyright {
    margin: auto;
}